
/* Global Rules */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Franklin Gothic Book', 'Arial Narrow', Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Headers & Text */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 8vw;
}
h2 {
    font-size: 3.25vw;
}

@media (min-width: 1000px) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 32.5px;
    }
}
@media (max-width: 640px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 19.5px;
    }
}

/* Content */

.full-page.wrapper {
    overflow: auto;
    width: 100%;

    background: none no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#intro .content {
    padding: 20px 0;

    float: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#intro i {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#about.wrapper {
    overflow: auto;
    margin: 0 auto;
}
#about .content {
    margin: 20px;

    text-align: center;
}
#about h2 {
    margin: 10px 0;
}

#contact.wrapper {
    overflow: auto;
    width: 100%;
}
#contact .content {
    padding: 20px;
    text-align: center;
}
#contact a i:hover {
    color: #ffffff;
}

.overlay {
    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: rgba(0,0,0,0.7);
}

@media (min-width: 500px) {
    #about.wrapper {
        width: 500px;
    }
    #about .content {
        width: 440px;
    }
}
@media (min-width: 1000px) {
    .full-page.wrapper {
        height: 100vh;
    }
    #intro .content {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    #intro i {
        display: inline-block;
    }
    #about.wrapper {
        width: 1000px;
    }
    #about .content {
        float: left;
    }
}

/* Colors */

.white, a.white, white a, a .white {
    color: #ffffff;
}
.bg-white {
    background-color: #ffffff;
}
.dark, a.dark, dark a, a .dark {
    color: #222222;
}
.bg-dark {
    background-color: #222222;
}
.grey, a.grey, grey a, a .grey {
    color: #5a5a5a;
}
.bg-grey {
    backogurnd-color: #5a5a5a;
}

.highlight-red, a.highlight-red, highlight-red a, a .highlight-red {
    color: #F44336;
}
.bg-highlight-red {
    background-color: #F44336;
}
.highlight-teal, a.highlight-teal, highlight-teal a, a .highlight-teal {
    color: #009688;
}
.bg-highlight-teal {
    background-color: #009688;
}
.highlight-yellow, a.highlight-yellow, highlight-yellow a, a .highlight-yellow {
    color: #FFEB3B;
}
.bg-highlight-yellow {
    background-color: #FFEB3B;
}