* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 8vw;
}
h2 {
    font-size: 3.25vw;
}

#full-page.wrapper {
    height: 100vh;
    width: 100%;

    background: none no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#full-page .header {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);

    overflow: auto;

    float: left;
}
#full-page .down {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);

    overflow: auto;

    float: left;
}
i {
    position: relative;
    top: 0;
    left: 0;
}

a {
    color: #fff;
}


@media (media-screen: desktop) {
    .down:hover {
        cursor: pointer;
        color: #1abc9c;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 32.5px;
    }
}
@media (max-width: 640px) {
    #full-page.wrapper {
        height: 480px;
    }

    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 19.5px;
    }

    .down {
        display: none;
    }
}


.shade {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

/* Colors */
.white {
    color: #ffffff;
}
.bg-white {
    background-color: #ffffff;
}
.dark {
    color: #222222;
}
.bg-dark {
    background-color: #222222;
}
.grey {
    color: #5a5a5a;
}
.bg-grey {}

.highlight-red {
    color: #e74c3c;
}
.bg-highlight-red {
    background-color: #e74c3c;
}
.highlight-teal {
    color: #1abc9c;
}
.bg-highlight-teal {
    background-color: #1abc9c;
}
.highlight-yellow {
    color: #f1c40f;
}
.bg-highlight-yellow {
    background-color: #f1c40f;
}

