
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Style/style.css" />
</head>
<body>
    <div id="full-page" class="wrapper" style="background-image: url('https://kaspermunch.files.wordpress.com/2016/08/geo-shapes-black-1280.jpg')">
        <div class="header white">
            <h1>I am<br />
            <span class="highlight-teal">Lina</span><br />
            Hanner <br />
            Sanchez</h1>
        </div>
    </div>
</body>
</html>
