
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style/style.css" />
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
</head>
<body>

    <div id="full-page" class="wrapper white" style="background-image: url('../../Content/Images/stockholm-stonepath.jpg')">
        <div class="shade">
            <div class="header">
                <h1>
                    <span class="grey">I am</span><br />
                    <span class="highlight-teal">Lina</span><br />
                    Hanner<br />
                    Sanchez
                </h1>
                <h2 class="highlight-yellow">Software Developer</h2>
            </div>
            <a href="#about">
                <div class="down">
                    <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>

    <div id="about">

        <div id="main" class="wrapper dark">
            <div id="content" class="wrapper">
                <div class="content" style="text-align: center">
                    <i class="fa fa-user fa-5x highlight-teal"></i>
                    <h2>About me</h2>
                    <p>I am a Swedish software developer with a passion for programming. I am a great team-player able to communicate and I strive to write easily comprehensible code without deterring from its efficiency. I am confident in my own ability to learn and grasp new competencies.</p>
                </div>
            </div>
            <div id="content" class="wrapper">
                <div class="content" style="text-align: center">
                    <i class="fa fa-code fa-5x highlight-teal"></i>
                    <h2>Skills</h2>
                    <p>I have experience working with several programming languages including C#, JavaScript, C++ and Lua. And I have accustomed myself to several frameworks including .NET(, etc., etc.). Comprehend version control systems such as Git and Subversion.</p>
                </div>
            </div>
        </div>

        <div id="footer" class="wrapper white bg-dark" style="text-align: center">
            <div class="content">
                <h2 class="highlight-yellow">Contact</h2>
                <br />
                <br />
                <ul>
                    <li><i class="fa fa-phone fa-lg grey"></i> +46 (0) 735 620 770</li>
                    <li><i class="fa fa-envelope fa-lg grey"></i> lina.hannersanchez@gmail.com</li>
                </ul>
                <br />
                <br />
                <i class="fa fa-github fa-5x grey"></i>
                <i class="fa fa-linkedin-square fa-5x grey"></i>
                <br />
                <br />
                CopyrightTM - 2016
            </div>
        </div>

    </div>

</body>
</html>
