
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style/style.css" />
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div id="full-page" class="wrapper white" style="background-image: url('../../Content/Images/stockholm-stonepath.jpg')">
        <div class="shade">
            <div class="header">
                <h1>
                    <span class="grey">I am</span><br />
                    <span class="highlight-teal">Lina</span><br />
                     Hanner<br />
                     Sanchez
                </h1>
                <h2 class="highlight-yellow">Software Developer</h2>
            </div>
            <a href="#about">
                <div class="down">
                    <i class="fa fa-angle-down fa-5x" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
    <div id="about">
        <div id="full-page" class="bg-highlight-red wrapper"></div>
    </div>
</body>
</html>
