
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Style/style.css" />
</head>
<body>
    <div id="full-page" class="wrapper" style="background-image: url('http://www.walldevil.com/wallpapers/w02/604628-black-dark-forms-geometry-minimalistic-triangles.jpg')">
        <div class="header white">
            <h1>I am<br />
            <span class="highlight-teal">Lina</span><br />
            Hanner <br />
            Sanchez</h1>
        </div>
    </div>
</body>
</html>
